pybrain
mxnet
tensorflow-cpu
keybert
keyphrase_vectorizers
matplotlib
numpy
pandas
Pillow
plotly
railroad
scikit_learn
sentence_transformers
spacy
streamlit
streamlit_option_menu
textacy
umap-learn
wordcloud
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
cluestar @ git+https://github.com/Buckeyes2019/cluestar_2.git
